<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Talk to an AI Celebrity</title>
  <link rel="stylesheet" href="/static/tailwind-compiled-styles.css" />
  <link
    href="https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet" />

  <link href="https://fonts.googleapis.com/css2?family=Oxanium:wght@200;400;500;600;700;800&display=swap"
    rel="stylesheet" />
</head>
<style>
  #end-conversation-button {
    display: none;
  }
</style>

<body class="px-4 py-6 text-white bg-zinc-900">
  <h1 class="mt-8 mb-10 font-mono text-6xl font-bold text-center uppercase">
    Talk to an AI celebrity
  </h1>
  <div class="flex flex-row justify-center gap-5 mt-24 h-60">
    {% for voice in voices %}
    <img class="rounded-full celebrity-image brightness-[0.25] pointer" src="/static/images/{{voice['internal-id']}}.jpeg" alt=""
      srcset="" id="img-{{voice['internal-id']}}">
    {% endfor %}
  </div>

  <div class="mt-24 flex flex-col w-[50vw] mx-auto">
    <label for="" class="mb-4 text-2xl font-semibold">Choose a person to talk to:</label>
    <select name="" id="voice-id" class="p-4 mb-8 text-xl font-medium text-black border-2">
      {% for voice in voices %}
      <option value="{{ voice['internal-id'] }}">
        {{voice["person-name"]}}
      </option>
      {% endfor %}
    </select>
    <p class="mb-12 text-xl font-semibold text-center" id="status-label"></p>
    <button class="p-4 text-lg font-bold text-white uppercase bg-green-600 rounded-lg" id="start-conversation-button">
      Start conversation
    </button>
    <button class="p-4 text-lg font-bold text-white uppercase bg-red-600 rounded-lg" id="end-conversation-button">
      End conversation
    </button>
  </div>
</body>
<script>
  let isConversing = false;
  let startButton = document.getElementById("start-conversation-button");
  let endButton = document.getElementById("end-conversation-button");
  let statusLabel = document.querySelector("#status-label");

  startButton.addEventListener("click", function () {
    const value = document.getElementById("voice-id").value;
    console.log(value);
    fetch(`/start-conversation?voice=${value}`);
    startButton.style.display = "none";
    endButton.style.display = "block";
    isConversing = true;
    setInterval(() => {
      if (!isConversing) {
        clearInterval(this);
      }
      console.log("fetching status");
      fetch("/conversation-status")
        .then(function (response) {
          return response.json();
        })
        .then((d) => {
          console.log(d.status);
          statusLabel.innerHTML = d.status;
        })
        .catch((e) => {
          clearInterval(this);
        });
    }, 500);
  });

  endButton.addEventListener("click", function () {
    isConversing = false;
    fetch("/end-current-conversation");
    window.location.reload();
  });

  let voiceIdInput = document.getElementById("voice-id");
  voiceIdInput.addEventListener("input", updateImageOnInputChange);

  
  // add an event listener to each of document.getElementsByClassName("celebrity-image")

  Array.from(document.getElementsByClassName("celebrity-image")).forEach((img) => {
    if (isConversing) {
      window.location.reload();
    }
    img.addEventListener("click", function (e) {
      let newVoiceId = e.target.id.split("-")[1];
      voiceIdInput.value = newVoiceId;
      voiceIdInput.dispatchEvent(new Event("input"));
    });
  });

  function updateImageOnInputChange(e) {
    let newVoiceId = e.target.value;
    console.log(newVoiceId);

    Array.from(document.getElementsByClassName("celebrity-image")).forEach(
      function (img, index, array) {
        img.classList.add("brightness-[0.25]");
        img.classList.remove("brightness-100");
      }
    );

    let newImage = document.getElementById(`img-${newVoiceId}`)
    newImage.classList.add("brightness-100");
    newImage.classList.remove("brightness-[0.25]");
  }

  voiceIdInput.dispatchEvent(new Event("input"));
</script>

</html>